#main_section 
{
	margin-top: 12%;
	margin-left: 20%;
	width: 80%;
	position : relative;
}

#main_section a
{
	text-decoration : none;
	color : #E8E8EB;
	font-weight: 550;
}

#main_section a .patients
{
	list-style: none;
	position : relative;
	background-color: #3C3B53;
	width : 35%;
	float:left;
	margin-right: 14.6%;
	margin-bottom: 4%;	
	border : solid 1px;
	border-radius: 30px 30px 30px 30px;
	overflow : hidden;
}

#main_section a .patients .info
{
	list-style: none;
	margin-left: 35%;
}

#main_section a .patients .info li
{
	text-align: center;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}