.bouton_mail{
	display:none;
}

#close{
	display:none;
}

#close i{
	color:#3C3B53;
}

#contenuAssistance
{
	position : absolute;
	left:16%;
	top : 5%;
	width:84%;
	height: 100%;
	background-color:#F0F0F7;
}

#contenuAssistance h2
{
	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 1.5%;
	color: #43425D;
	opacity: 1;
	font-size: 1.4vw;
	
}


#contenuAssistance #mail 
{
	background-color: #FFFFFF;
	 float: left;	
	 width: 50%;
	 display: block;
	 position: relative;
	 margin-left:3%;
}	

#contenuAssistance #mail h3
{
	margin-left: 3.5%;
	margin-top: 3.5%;
	color:#4D4F5C;
}

#contenuAssistance #mail label
{
	color: #43425D;
	margin-left: 3.5%;	
	font-weight: bold;
	display : inline-block;
	width:7.5%;
	font-size: 1.1vw;
}

#contenuAssistance #mail input
{
	display:inline-block;
	border: 1px solid #E8E9EC;
	border-radius: 4px;
	opacity: 1;	
	margin-left: 10%;
	width: 70%;
	height: 40px;
	padding-left: 2%;
	margin-bottom: 1%;
}

.dessous
{
	color : #808495;
	margin-left: 21%;
	margin-bottom: 6%;
	font-size: 0.9vw;
}


#contenuAssistance #mail textarea
{
	display:inline-block;
	vertical-align: middle;
	border: 1px solid #CECFD0;
	border-radius: 5px;
	margin-left: 10%;
	width : 72%;
	resize:none;
	padding-left: 2%;
	padding-top: 2%;
}

#contenuAssistance #mail span input
{
	margin-top:5%;
	width : 30%;
	height: 40px;
	display: block;
	background-color: #3B86FF;
	margin-left: auto;
	margin-right: auto;
	color : #E8E8D4;
}

#contenuAssistance #contact 
{
	background-color: #FFFFFF;
 display: block;
 position: relative;
 width: 40%;
 margin-left: 57%;
 padding-bottom: 1%;
}

#contenuAssistance #contact h3
{
	padding-left: 3.5%;
	padding-top: 2.5%;
	padding-bottom: 2%;
	color:#4D4F5C;
}

#contenuAssistance #contact ul li
{
	list-style: none;
	padding-left: 3%;
	padding-top:4%;
	padding-bottom: 4%;

}

#contenuAssistance #contact ul li i	
{
	vertical-align: middle;
	padding-right: 5%;
}

#contenuAssistance #contact ul a
{
	text-decoration: none;
	color : black;

}

#faq
{
	color:#E8E8EB;
	background-color: #3C3B53;
}



















@media all and (max-width : 680px){

	#close{
		display:block;
		position: relative;
		left:80%;
		top:4%;
	}

	.bouton_mail{
		display:block;
		text-decoration: none;
		color : #E8E8EB;
		background-color: #3C3B53;
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		text-align: center;
		vertical-align: middle;	
		margin-bottom: 5%;  
		margin-top: 3.5%;
		padding : 1.5%;
	}

	#contenuAssistance #mail 
{	
	position: absolute;
	 width: 100%;
	 margin-left: 0%;
	 margin-top: 0%;
	 top:1%	;
	 left:0%;
	 height: 100%;
	float:none; 
	z-index: 5;
	display : block;
	background-color: #FFFFFF;	
}	

	#contenuAssistance #mail label
{
	color: #43425D;
	margin-left: 3.5%;	
	font-weight: bold;
	display : inline-block;
	width:7.5%;
	font-size: 3vw;
}

	#contenuAssistance #mail input
{
	border: 2px solid #E8E9EC;
	border-radius: 6px;	
	margin-left: 5%;
	width: 75%;	
}

	.dessous
{
	color : #808495;
	margin-left: 21%;
	margin-bottom: 6%;
	font-size: 0.9em;
}

	#contenuAssistance #mail textarea
{

	border: 2px solid #CECFD0;
	border-radius: 10px;
	margin-left: 5%;
	width : 75%;

}

	#mail:not(:target) {
  	transform: translate3d(-700px, 0, 0); /* cache le menu*/
 	transition: left 1s;
}

	#mail:target {	
 	transform: translate3d(0, 0, 0); /* affiche le menu quand on click sur le burger */
 	  transition: left 1s;

}


	#contenuAssistance
{
	position : fixed;
	left:0%;
	top : 5%;
	width:100%;
	height: 100%;
	background-color:#F0F0F7;
}


	#contenuAssistance h2
{
	margin-left: 3%;
	margin-top: 5%;
	margin-bottom: 1.5%;
	font-size: 1.2em;
	color: #43425D;
}
	
	#contenuAssistance #contact 
{
	background-color: #FFFFFF;
 display: block;
 position: relative;
 margin-left: 3%;
 width: 94%;
}


	}