#contenuAssistance
{
	position : absolute;
	margin-left:16%;
	margin-top : 3%;
	width:84%;
}


#contenuAssistance h2
{
	display: block;
	margin-top: 1%;
	margin-bottom: 0.5%;
	text-align: center;
	height:20%;
}

#contenuAssistance h2 + p
{
	text-align: center;
	margin-bottom: 1.2%;
}

#contenuAssistance p a 
{
	font-size:2vw;
	text-decoration: none;
	color: #A5A4BF;
	background-color: #3C3B53;
	text-align: center;
	padding-right:1.2%;
	padding-left: 1.2%;
	margin-left: 39%;
	border: 2px solid #A5A4BF;
	transition-duration: 0.1s;
}

hr 
{
	overflow: visible;
	color: #3C3B53;
	background-color:#3C3B53;
	size:1px;
	height: 1px;
}

#contenuAssistance #mail 
{
 float: left;	
 width: 40%;
 display: block;
 position: relative;
 margin-left:3%;
 margin-top: 1%;
}
#contenuAssistance #mail h3
{
	text-align: center;
}

#contenuAssistance #mail p
{
	font-weight: bold;
	font-size: 1.1vw;
}

#contenuAssistance #mail p input
{
	width:100%;
	resize: none;
	box-sizing: border-box;
	border-radius: 20px;
	padding-left : 5px;
}

#contenuAssistance #mail p textarea
{
	width : 100%;
	height:200px;
	padding: 12px 20px;
 	box-sizing: border-box;
 	border-radius: 4px;
 	resize: none;
}


#contenuAssistance #mail p span input
{
	width : 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#contenuAssistance #contact 
{
 display: block;
 position: relative;
 width: 40%;
 margin-left:60%;
 margin-top: 2%;
}

#contenuAssistance #contact ul li
{
	list-style: none;
	padding-top: 4.3%;
	padding-bottom: 4.3%;
}

#contenuAssistance #contact ul li i	
{
	vertical-align: middle;
}
