* {margin:0; padding:0;font-family: 'Source Sans Pro';} /* Permet de coller la liste sur la gauche de l'écran*/


body nav
{
    background-color: #43425D;
    position: fixed;
    	left : 0px;
    	bottom: 0px;
    	top : 10%;
    	width : 16%; /*largeur */
}

body nav li
{
	font-size: 0.9em;
	list-style: none; /*enlève les points des listes*/
    flex-direction: column;
    display : block;
    align-items: flex-start; /* alignement a gauche */
    padding-top: 9%; /* espacement des liens en haut*/
    padding-bottom: 9%;
    padding-left: 10%; 
}



body nav li a
{
	color : #E8E8EB;
	text-decoration: none; /* enlève le soulignement*/
	padding-left: 5% /* eloigne le texte des icons*/

}

body nav li:hover /*lorsque qu'on passe la souris sur le lien*/
{
	background-color: #3C3B53;
}

.en_cours 
{
	background: linear-gradient(90deg, #A3A0FB 2%, #3C3B53 2%); /* modifie la couleur de l'arriere plan lorsque le lien est actif*/
}

body header
{	
	position: fixed;
    top : 0%;
    left :0%;
    right:100%;
}

body header h1
{
	font-weight: bold;
	letter-spacing: 3px;
	font-size : 0.85em;
	padding-left:1.2%;
	padding-top: 2.2%;
	position: fixed;
	 width : 14.8%;
	 height: 8.5%;
	color : #FFFFFF;
	background-color: #3C3B53;
}

#top-bar li{ /*Permet d'afficher tous les élements côte à côte padding-bottom: 10px;*/
	display: inline;
    
}





#top-bar{
	text-align: right;
    position: fixed;
    	left : 16%;
    	bottom: 95%;
    	top : 0%;
    	width : 84%; /*largeur */
    	height: 55px;
	box-shadow: 0px 0px 4px black;
}

#search-field{
	text-align: left;
	width: 55%;
	padding: 15px 15px 0px 15px;
	text-decoration: none;
	display: inline;
    float: left;
	font-size: 1em;
	color: #747474;	
}

#search-field input[type=text]{
	border: none;
	width: 55%;
}


#search-text{
	padding-left: 15px;
	text-decoration: none;
}



#top-bar a:hover /*lorsque qu'on passe la souris sur le lien*/
{
	background-color: #524f82;
	color: #FFFFFF;
	border-left:  solid 3px #aaaaaa;

}
#top-bar em:hover{
	color: #000000;
	background-color: #dddddd;
	border-left:  solid 3px #aaaaaa;
}


#top-bar a{
	color : #dddddd;
	text-decoration: none;
	padding: 15px 15px 0px 15px;
        width:auto;
        float: right;

}
